<style>
    /* Custom radio button styling */
    input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 24px;
        height: 24px;
        border: 2px solid #4A5568; /* Border color */
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    input[type="radio"]:checked {
        border-color: #38B2AC; /* Border color when checked */
        background-color: #38B2AC; /* Background color when checked */
    }

    input[type="radio"]:checked::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        margin: 4px;
        background-color: #38B2AC; /* Inner circle color when checked */
        border-radius: 50%;
    }

    input[type="radio"]:hover {
        border-color: #68D391; /* Border color on hover */
    }
    table{
        width: 100%;
        border-collapse: collapse;
    }
    th, td{
        padding:12px;
        border-bottom: 1px solid #E2E8f0;
    }
    .car-table {
        width: 100%;
        border-collapse: collapse;
        margin:0;
    }

    .car-td {
        padding:0;
        margin:0;
    }

    th {
        text-align: left;
        background-color: #F7FAFC;
        color: #2D3748;
        font-weight: 600;
    }

    td {
        text-align: center;
        color: #4A5568;
    }

     .form-section {
         display: flex;
         flex-wrap: wrap;
         gap: 20px;
         justify-content: space-between;
     }

    .form-column {
        flex: 1;
        min-width: 300px;
    }

    .form-column label {
        display: block;
        margin-bottom: 8px;
        color: #2D3748;
        font-weight: 600;
    }

    .form-column select {
        width: 100%;
        padding: 10px;
        border: 1px solid #E2E8F0;
        border-radius: 6px;
        background-color: #F7FAFC;
        color: #2D3748;
        font-weight: 600;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease;
    }

    .form-column select:hover {
        background-color: #EDF2F7;
    }

    .form-column select[disabled] {
        background-color: #EDF2F7;
        color: #A0AEC0;
    }

    .form-column .mb-4 {
        margin-bottom: 16px;
    }

    /* Custom option colors based on value */
    .form-column select option[value="ORIGINAL"] {
  color: #48BB78; /* green */
  font-weight: bold;
}

.form-column select option[value="PLASTIC"],
.form-column select option[value="LOCAL PAINTED"],
.form-column select option[value="COATED"],
.form-column select option[value="DISASSEMBLED / REASSEMBLED"] {
  color: #3182CE; /* blue */
  font-weight: bold;
}

.form-column select option[value="PAINTED"],
.form-column select option="REPLACED"] {
  color: #E53E3E; /* red */
  font-weight: bold;
}

.form-column select option[value="PAINTLESS DENT"] {
  color: #38B2AC; /* teal */
  font-weight: bold;
}

.form-column select option[value="DENT/SCRATCH"],
.form-column select option[value="CLEARCOAT"] {
  color: #805AD5; /* purple */
  font-weight: bold;
}

.form-column select option[value="NONE"] {
  color: #718096; /* gray */
  font-weight: bold;
}

/* Image section for the car diagram */
.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

</style>

{% include 'report_sections/expertises/vehicle_header.html' %}

<h2 class="text-lg font-semibold mb-4">{{ _('Expertise') }}</h2>
<p>{{ _('Please indicate the condition of each inspected area!') }}</p>

<form id="expertiseForm" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input
    type="hidden"
    name="expertise_report2_id"
    value="{{ expertise_report2.id if expertise_report2 else '' }}"
  >

  <!-- Paint Expertise -->
  {% if expertise_report %}
    <h3 class="text-md font-semibold mb-4">
      {{ expertise_report.expertise_type.name }}
    </h3>
    <div class="form-section">
      <div class="form-column">
        {% for feature in expertise_report.features %}
        <div class="mb-4">
          <label
            for="feature_{{ feature.id }}"
            class="block text-gray-700 font-semibold mb-2"
          >
            {{ feature.name }}
          </label>
          <select
            id="select_{{ feature.id }}"
            name="feature_{{ feature.id }}"
            class="dropdown"
            onchange="updateImage({{ feature.id }}, this.value)"
          >
            <optgroup label="{{ _('Condition') }}">
              <option
                value="{{ _('ORIGINAL') }}"
                {% if feature.status == _('ORIGINAL') %}selected{% endif %}
              >{{ _('ORIGINAL') }}</option>
              <option
                value="{{ _('PLASTIC') }}"
                {% if feature.status == _('PLASTIC') %}selected{% endif %}
              >{{ _('PLASTIC') }}</option>
              <option
                value="{{ _('PAINTED') }}"
                {% if feature.status == _('PAINTED') %}selected{% endif %}
              >{{ _('PAINTED') }}</option>
              <option
                value="{{ _('LOCAL PAINTED') }}"
                {% if feature.status == _('LOCAL PAINTED') %}selected{% endif %}
              >{{ _('LOCAL PAINTED') }}</option>
              <option
                value="{{ _('REPLACED') }}"
                {% if feature.status == _('REPLACED') %}selected{% endif %}
              >{{ _('REPLACED') }}</option>
              <option
                value="{{ _('COATED') }}"
                {% if feature.status == _('COATED') %}selected{% endif %}
              >{{ _('COATED') }}</option>
              <option
                value="{{ _('NONE') }}"
                {% if feature.status == _('NONE') %}selected{% endif %}
              >{{ _('NONE') }}</option>
            </optgroup>
          </select>
        </div>
        {% endfor %}
      </div>

                <!-- Image Section -->
                <!--<div class="form-column image-section">
                    <div class="image-container w-full max-w-4xl mx-auto">
                        <table class="car-table min-w-full border border-black">
                            <tr>
                                <td colspan="3" class="car-td text-center">
                                    <img id="image_32" src="../../../static/assets/car_parts/orijinal/ön%20tampon.png" alt="ön%20tampon.png" class="mx-auto">
                                </td>
                            </tr>
                            <tr>
                                <td class="car-td text-center ">
                                    <img id="image_33" src="../../../static/assets/car_parts/orijinal/sol%20ön%20çamurluk.png" alt="sol%20ön%20çamurluk.png" class="mx-auto">
                                </td>
                                <td class="car-td text-center ">
                                    <img id="image_34" src="../../../static/assets/car_parts/orijinal/kaput.png" alt="ön%20tampon.png" class="mx-auto">
                                </td>
                                <td class="car-td text-center">
                                    <img id="image_35" src="../../../static/assets/car_parts/orijinal/sağ%20ön%20çamurluk.png" alt="sağ%20ön%20çamurluk.png" class="mx-auto">
                                </td>
                            </tr>
                            <tr>
                                <td class="car-td text-center">
                                    <img id="image_36" src="../../../static/assets/car_parts/orijinal/sol%20ön%20kapı.png" alt="sol%20ön%20kapı.png" class="mx-auto">
                                </td>
                                <td class="car-td text-center" rowspan="2">
                                    <img id="image_37" src="../../../static/assets/car_parts/orijinal/tavan.png" alt="tavan.png" class="mx-auto">
                                </td>
                                <td class=" car-td text-center ">
                                    <img id="image_38" src="../../../static/assets/car_parts/orijinal/sağ%20ön%20kapı.png" alt="sağ%20ön%20kapı.png" class="mx-auto">
                                </td>
                            </tr>
                            <tr>
                                <td class="car-td text-center ">
                                    <img id="image_39" src="../../../static/assets/car_parts/orijinal/sol%20arka%20kapı.png" alt="sol%20arka%20kapı.png" class="mx-auto">
                                </td>

                                <td class="car-td text-center">
                                    <img id="image_40" src="../../../static/assets/car_parts/orijinal/sağ%20arka%20kapı.png" alt="sağ%20arka%20kapı.png" class="mx-auto">
                                </td>
                            </tr>
                            <tr>
                                <td class="car-td text-center">
                                    <img id="image_41" src="../../../static/assets/car_parts/orijinal/sol%20arka%20çamurluk.png" alt="sol%20arka%20tampon.png" class="mx-auto">
                                </td>
                                <td class="car-td text-center">
                                    <img id="image_42" src="../../../static/assets/car_parts/orijinal/bagaj%20kapağı.png" alt="bagaj.png" class="mx-auto">
                                </td>
                                <td class="car-td text-center ">
                                    <img id="image_43" src="../../../static/assets/car_parts/orijinal/sağ%20arka%20çamurluk.png" alt="sağ%20arka%20çamurluk.png" class="mx-auto">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="car-td text-center">
                                    <img id="image_44" src="../../../static/assets/car_parts/orijinal/arka%20tampon.png" alt="arka%20tampon.png" class="mx-auto">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                -->
            </div>
            {% endif %}

 {% include 'report_sections/expertises/vehicle_header.html' %}

<h2 class="text-lg font-semibold mb-4">{{ _('Expertise') }}</h2>
<p>{{ _('Please specify the condition of each inspected area!') }}</p>

<form id="expertiseForm" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input
    type="hidden"
    name="expertise_report2_id"
    value="{{ expertise_report2.id if expertise_report2 else '' }}"
  >

  <!-- Bodywork Expertise -->
  {% if expertise_report2 %}
    <h3 class="text-md font-semibold mb-4">
      {{ expertise_report2.expertise_type.name }}
    </h3>
    <table class="min-w-full bg-white shadow-md rounded-lg mb-4">
      <thead>
        <tr>
          <th class="text-left">{{ _('Checked Feature') }}</th>
          <th>{{ _('No Damage') }}</th>
          <th>{{ _('Scratch') }}</th>
          <th>{{ _('Dent / Crack / Deformation') }}</th>
          <th>{{ _('Repaired / Painted') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for feature in expertise_report2.features %}
        <tr>
          <td class="text-left">{{ feature.name }}</td>
          <td>
            <input
              type="radio"
              name="feature_{{ feature.id }}"
              value="{{ _('No Damage') }}"
              {% if feature.status == _('No Damage') %}checked{% endif %}
            >
          </td>
          <td>
            <input
              type="radio"
              name="feature_{{ feature.id }}"
              value="{{ _('Scratch') }}"
              {% if feature.status == _('Scratch') %}checked{% endif %}
            >
          </td>
          <td>
            <input
              type="radio"
              name="feature_{{ feature.id }}"
              value="{{ _('Dent / Crack / Deformation') }}"
              {% if feature.status == _('Dent / Crack / Deformation') %}checked{% endif %}
            >
          </td>
          <td>
            <input
              type="radio"
              name="feature_{{ feature.id }}"
              value="{{ _('Repaired / Painted') }}"
              {% if feature.status == _('Repaired / Painted') %}checked{% endif %}
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <!-- Technician Comment Section -->
  <div class="mb-4">
    <label
      for="technician_comment"
      class="block text-gray-700 font-semibold mb-2"
    >{{ _('Technician Comment') }}</label>
    <textarea
      id="technician_comment"
      name="technician_comment"
      rows="4"
      class="w-full p-2 border border-gray-300 rounded"
      placeholder="{{ _('Enter technician comment here...') }}"
    >{{ expertise_report.comment if expertise_report else '' }}</textarea>
  </div>

  <div class="flex justify-end mt-4">
    <button
      type="submit"
      class="bg-blue-500 text-white px-4 py-2 rounded"
    >{{ _('Update') }}</button>
  </div>
</form>

<script>
function updateImage(featureId, status) {
  console.log("Feature ID:", featureId);
  console.log("Selected Status:", status);

  const baseDirectory = {
    '{{ _("ORIGINAL") }}': 'orijinal',
    '{{ _("PLASTIC") }}': 'plastik',
    '{{ _("PAINTED") }}': 'boyalı',
    '{{ _("LOCAL PAINTED") }}': 'lokal_boyalı',
    '{{ _("REPLACED") }}': 'değişmiş',
    '{{ _("COATED") }}': 'kaplama',
    '{{ _("NONE") }}': 'yok'
  };

  const img = document.getElementById(`image_${featureId}`);
  if (!img) {
    console.error(`Image #image_${featureId} not found.`);
    return;
  }

  const filename = img.alt;
  img.src = `../../../static/assets/${baseDirectory[status]}/${filename}`;
  console.log("Updated src:", img.src);
}

$(document).ready(function() {
  // Bind AJAX submit
  $('#expertiseForm').on('submit', function(e) {
    e.preventDefault();
    let report2Id = $('input[name="expertise_report2_id"]').val();
    if (!report2Id) {
      report2Id = "{{ expertise_report2.id if expertise_report2 else '' }}";
      $('input[name="expertise_report2_id"]').val(report2Id);
    }
    $.ajax({
      url: "{{ url_for('reports.expertise_detail', expertise_report_id=expertise_report.id) }}",
      type: "POST",
      data: $(this).serialize(),
      success: function() {
        alert("{{ _('Expertise status updated successfully!') }}");
      },
      error: function() {
        console.log("Error");
        alert("{{ _('Report could not be updated. Please ensure there are no issues!') }}");
      }
    });
  });

  // Initialize images
  $('select').each(function() {
    const id = this.id.split('_')[1];
    updateImage(id, this.value);
  });
});
</script>
