<style>
  .beyin-bordered-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  .beyin-bordered-table th,
  .beyin-bordered-table td {
    border: 1px solid #dcdcdc;
    padding: 15px;
  }
  .beyin-status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  .beyin-status-icon {
    font-size: 24px;
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .beyin-status-text {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
  }
  .beyin-td {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
  }
  .beyin-td:nth-child(2) {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }
  .beyin-td img {
    display: block;
    margin: 0 auto;
  }
</style>

<div class="title-large primary-color primary-bg-color" style="position: relative; padding: 15px;">
  <span style="color: white;">{{ _('Paint & Body Inspection') }}</span>
  <div class="sasi-wrapper"
       style="position: absolute; right: 1%; top: 50%; transform: translateY(-50%); padding: 0 10px; background-color: white;">
    <table width="100%">
      <tbody>
        <tr>
          <td style="font-size: 12px; font-weight: bold;">
            {{ _('Chassis No') }}<span style="font-size: 14px;">:</span>
          </td>
          <td class="text-medium" rowspan="2"
              style="font-size: 20px; font-weight: bold;">
            {{ vehicle.chassis_number[-6:] }}
          </td>
        </tr>
        <tr>
          <td style="font-size: 8px; text-align: center;">
            {{ _('Last 6 Digits') }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% set boya_features = pckg_report.boya_features %}
{% set kaporta_features = pckg_report.kaporta_features %}

<div class="form-column image-section">
  <div class="image-container w-full max-w-4xl mx-auto">
    <table class="car-table min-w-full">
      <!-- image grid here -->
    </table>
  </div>
</div>

<div class="info-section">
  <div class="info-table">
    <img src="{{ info_image_url }}" alt="{{ _('Information') }}">
  </div>
  <div class="boya-comment">
    <div class="footer-expertise">
      <div class="section-title">
        {{ _('Body & Paint Inspection Summary') }}
      </div>
      {% if boya_comment|length > 230 %}
      <div class="summary-text summary-text-small">
        {{ boya_comment }}
      </div>
      {% else %}
      <div class="summary-text summary-text-normal">
        {{ boya_comment }}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="table-container boya-table" style="display: flex; justify-content: space-between; margin-bottom:5px;">
  <table class="inspection-table" style="width:100%; border-collapse:collapse;">
    <tr>
      <!-- First Column -->
      <td style="vertical-align: top; width: 33.33%;">
        <table class="inspection-table-inner" style="width:100%; border-collapse:collapse;">
          {% for feature in kaporta_features[:kaporta_features|length // 3] %}
          <tr>
            <th style="text-align:left; padding:8px;">{{ _(feature.name) }}</th>
            <td>
              {% if feature.status == 'YOK' %}
              <div class="status-container">
                <span class="status-box status-black filled">
                  {{ _('None') }}
                </span>
              </div>
              {% else %}
              <div class="status-container">
                <span class="status-box status-good {% if feature.status == 'Kontrolden Geçti' %}filled{% endif %}">
                  {{ _('Passed Inspection') }}
                </span>
                <span class="status-box status-warning {% if feature.status == 'Sorun Çıkarabilir' %}filled{% endif %}">
                  {{ _('Potential Issue') }}
                </span>
                <span class="status-box status-red {% if feature.status == 'Bakım Gerekli' %}filled{% endif %}">
                  {{ _('Maintenance Needed') }}
                </span>
              </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </td>

      <!-- Second Column -->
      <td style="vertical-align: top; width: 33.33%;">
        <table class="inspection-table-inner" style="width:100%; border-collapse:collapse;">
          {% for feature in kaporta_features[kaporta_features|length // 3 : kaporta_features|length // 3 * 2] %}
          <tr>
            <th style="text-align:left; padding:8px;">{{ _(feature.name) }}</th>
            <td>
              {% if feature.status == 'YOK' %}
              <div class="status-container">
                <span class="status-box status-black filled">
                  {{ _('None') }}
                </span>
              </div>
              {% else %}
              <div class="status-container">
                <span class="status-box status-good {% if feature.status == 'ÇİZİK' %}filled{% endif %}">
                  {{ _('Scratch') }}
                </span>
                <span class="status-box status-warning {% if feature.status == 'EZİK / KIRIK / GÖÇÜK' %}filled{% endif %}">
                  {{ _('Dent / Crack / Damage') }}
                </span>
                <span class="status-box status-red {% if feature.status == 'İŞLEMLİ / BOYALI' %}filled{% endif %}">
                  {{ _('Repaired / Painted') }}
                </span>
              </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </td>

      <!-- Third Column -->
      <td style="vertical-align: top; width: 33.33%;">
        <table class="inspection-table-inner" style="width:100%; border-collapse:collapse;">
          {% for feature in kaporta_features[kaporta_features|length // 3 * 2 :] %}
          <tr>
            <th style="text-align:left; padding:8px;">{{ _(feature.name) }}</th>
            <td>
              {% if feature.status == 'YOK' %}
              <div class="status-container">
                <span class="status-box status-black filled">
                  {{ _('None') }}
                </span>
              </div>
              {% else %}
              <div class="status-container">
                <span class="status-box status-good {% if feature.status == 'ÇİZİK' %}filled{% endif %}">
                  {{ _('Scratch') }}
                </span>
                <span class="status-box status-warning {% if feature.status == 'EZİK / KIRIK / GÖÇÜK' %}filled{% endif %}">
                  {{ _('Dent / Crack / Damage') }}
                </span>
                <span class="status-box status-red {% if feature.status == 'İŞLEMLİ / BOYALI' %}filled{% endif %}">
                  {{ _('Repaired / Painted') }}
                </span>
              </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
  </table>
</div>
