<style>
    .title-large {
        font-size: 16px;
        font-weight: bold;
        background-color: #a82b2e;
        text-align: left;
        padding: 10px;
        position: relative;
        z-index: 1;
    }

    .section-title {
        background-color: #b52424; /* Red background color */
        color: white; /* White text color */
        font-weight: bold;
        text-align: center; /* Centered text */
    }

    .summary-text {
        padding: 15px; /* Adjusted padding for more space */
        border: 1px solid #ddd;
        font-size: 14px; /* Slightly larger font size for readability */
        line-height: 1.5;
        background-color: #fff; /* White background */
        text-align: left; /* Ensure left alignment */
    }

    .flex-container {
        display: flex;
        justify-content: space-around; /* Space the elements evenly */
        align-items: flex-start; /* Align items to the top */

    }

    /* Footer motor section styling */
    .footer-motor {
        font-size: 9px; /* Slightly larger font size */
        color: #666;
        text-align: justify;
        padding: 10px;
        border-top: 1px solid #ddd;
        background-color: #f8f8f8;
        width: 30%;
    }
    .footer-space{
        width:5%
    }
    .footer-expertise{
        width:65%;
    }
    .section-title{
        width:95%;
    }
    /* Warning text styling */
    .footer-warning {
        font-size: 7px;
        color: red;
        font-weight: bold;
        width: 95%;
        text-align: justify;
    }


    .summary-text {
        padding: 10px; /* Adjusted padding for more space */
        border: 1px solid #ddd;
        font-size: 12px; /* Slightly larger font size for readability */
        line-height: 1.5;
        background-color: #fff; /* White background */
        text-align: left; /* Ensure left alignment */
        width: 95%; /* Take 50% of the width */
    }
    .summary-text-small {
        font-size: 10px;
    }

    .summary-text-normal {
        font-size: 12px;
    }

</style>


<style>
    .title-large.primary-color.primary-bg-color {
        position: relative;
        padding: 15px;
    }
    .sasi-wrapper {
        position: absolute;
        right: 1%;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 10px;
        background-color: white;
        border-left: 0;
    }
    .footer-motor {
        font-size: 12px;
        color: #333;
    }
    .footer-expertise {
        font-size: 12px;
        color: #333;
    }
    .footer-warning {
        margin-top: 8px;
        font-weight: bold;
        color: #a82b2e;
    }
</style>

<div class="title-large primary-color primary-bg-color">
  <span style="color: white;">
    {{ _('ENGINE INSPECTION REPORT') }}
  </span>
  <div class="sasi-wrapper">
    <table width="100%">
      <tbody>
        <tr>
          <td style="font-size: 12px; font-weight: bold;">
            {{ _('CHASSIS NO') }}<span style="font-size: 14px;">:</span>
          </td>
          <td rowspan="2" style="font-size: 20px; font-weight: bold;">
            {{ vehicle.chassis_number[-6:] }}
          </td>
        </tr>
        <tr>
          <td style="font-size: 8px; text-align:center;">
            {{ _('LAST 6 DIGITS') }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td style="padding: 10px 20px;">
      <img src="{{ motor_image_url }}" 
           alt="{{ _('Engine Image') }}" 
           style="width: 425px; height: auto;">
    </td>
    <td>
      <table class="color-description" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="center" align="left">
            <div class="status-box status-good filled"></div>
          </td>
          <td>
            {{ _('(GOOD) PASSED INSPECTION') }}
          </td>
        </tr>
        <tr>
          <td valign="center" align="left">
            <div class="status-box status-warning filled"></div>
          </td>
          <td>
            {{ _('(MODERATE) MAY CAUSE ISSUES') }}
          </td>
        </tr>
        <tr>
          <td valign="center" align="left">
            <div class="status-box status-red filled"></div>
          </td>
          <td>
            {{ _('(BAD) MAINTENANCE REQUIRED') }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="table-container" 
     style="display: flex; justify-content: space-between; margin-bottom:5px;">
  <table class="inspection-table" 
         style="width: 100%; border-collapse: collapse;">
    <tr>
      <!-- First Column -->
      <td style="vertical-align: top; width: 50%;">
        <table class="inspection-table-inner" 
               style="width: 100%; border-collapse: collapse;">
          {% for feature in pckg_report.features[:(pckg_report.features|length // 2)] %}
          <tr>
            <th style="text-align: left; padding: 8px;">
              {{ _(feature.name) }}
            </th>
            <td>
              {% if feature.status == 'YOK' %}
                <div class="status-container">
                  <span class="status-box status-black filled">
                    {{ _('NONE') }}
                  </span>
                </div>
              {% else %}
                <div class="status-container">
                  <span class="status-box status-good {% if feature.status == 'Kontrolden Geçti' %}filled{% endif %}"></span>
                  <span class="status-box status-warning {% if feature.status == 'Sorun Çıkarabilir' %}filled{% endif %}"></span>
                  <span class="status-box status-red {% if feature.status == 'Bakım Gerekli' %}filled{% endif %}"></span>
                </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </td>

      <!-- Second Column -->
      <td style="vertical-align: top; width: 50%;">
        <table class="inspection-table-inner" 
               style="width: 100%; border-collapse: collapse;">
          {% for feature in pckg_report.features[(pckg_report.features|length // 2):] %}
          <tr>
            <th style="text-align: left; padding: 8px;">
              {{ _(feature.name) }}
            </th>
            <td>
              {% if feature.status == 'YOK' %}
                <div class="status-container">
                  <span class="status-box status-black filled">
                    {{ _('NONE') }}
                  </span>
                </div>
              {% else %}
                <div class="status-container">
                  <span class="status-box status-good {% if feature.status == 'Kontrolden Geçti' %}filled{% endif %}"></span>
                  <span class="status-box status-warning {% if feature.status == 'Sorun Çıkarabilir' %}filled{% endif %}"></span>
                  <span class="status-box status-red {% if feature.status == 'Bakım Gerekli' %}filled{% endif %}"></span>
                </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
  </table>
</div>

<div class="flex-container">
  <div class="footer-motor">
    {{ _('This report is an integral part and continuation of the Job Order / Vehicle Acceptance / Delivery / Information Form with the same chassis number.') }}<br>
    {{ _('By signing the Vehicle Acceptance Information Form, you agree to all the terms in the Service Agreement.') }}
  </div>
  <div class="footer-space"></div>
  <div class="footer-expertise">
    <div class="section-title">
      {{ _('ENGINE INSPECTION SUMMARY') }}
    </div>
    {% if pckg_report.comment|length > 230 %}
      <div class="summary-text summary-text-small">
        {{ pckg_report.comment }}
      </div>
    {% else %}
      <div class="summary-text summary-text-normal">
        {{ pckg_report.comment }}
      </div>
    {% endif %}
    <div class="footer-warning">
      {{ _('WARNING: The timing belt and front chain are in sealed casings and have not been inspected.') }}
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const commentText = `{{ pckg_report.comment }}`;
    const summaryText = document.querySelector('.summary-text');
    if (commentText.length > 230) {
      summaryText.style.fontSize = '3px';
    } else {
      summaryText.style.fontSize = '12px';
    }
  });
</script>

