<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Report Details') }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-gray-100">
{% include 'navbar.html' %}
<div id="createAppointmentModal"></div>

<div class="container mx-auto p-4">
    <h1 class="text-xl font-semibold mb-4">
      {{ _('Report Details') }} ({{ report.vehicle.plate }})
    </h1>
    <div class="grid grid-cols-4 gap-4">
        <!-- Sidebar for Expertise Types -->
        <div class="bg-white shadow-md rounded-lg p-4">
            <h2 class="text-lg font-semibold mb-4">
              {{ _('Inspection Types') }}
            </h2>
            <ul class="list-none p-0">
                {% for package_expertise in package_expertises %}
                <!--{% if package_expertise.expertise_type.name == "Boya Ekspertiz" %}
                <li class="mb-2">
                    <a href="#" class="block p-2 bg-gray-200 rounded hover:bg-gray-300" data-expertise-type="{{ package_expertise.expertise_type.name }}">
                        Boya & Kaporta Ekspertiz
                    </a>
                </li>
                {% elif package_expertise.expertise_type.name == "Yol Ekspertiz" %}
                <li class="mb-2">
                    <a href="#" class="block p-2 bg-gray-200 rounded hover:bg-gray-300" data-expertise-type="{{ package_expertise.expertise_type.name }}">
                        Yol & Dyno Ekspertiz
                    </a>
                </li>
                {% elif package_expertise.expertise_type.name == "İç Ekspertiz" %}
                <li class="mb-2">
                    <a href="#" class="block p-2 bg-gray-200 rounded hover:bg-gray-300" data-expertise-type="{{ package_expertise.expertise_type.name }}">
                        İç & Dış Ekspertiz
                    </a>
                </li>
                {% elif package_expertise.expertise_type.name not in ["Kaporta Ekspertiz", "Dyno Ekspertiz", "Dış Ekspertiz"] %}
                <li class="mb-2">
                    <a href="#" class="block p-2 bg-gray-200 rounded hover:bg-gray-300" data-expertise-type="{{ package_expertise.expertise_type.name }}">
                        {{ package_expertise.expertise_type.name }}
                    </a>
                </li>
                {% endif %}-->
                <li class="mb-2">
                    <a href="#" class="block p-2 bg-gray-200 rounded hover:bg-gray-300" data-expertise-type="{{ package_expertise.expertise_type.name }}">
                        {{ package_expertise.expertise_type.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <!-- Example snippet in complete_report.html -->

        </div>

        <!-- Main Content Area -->
        <div class="col-span-3 bg-white shadow-md rounded-lg p-4" id="expertiseDetailContainer">
            <h2 class="text-lg font-semibold mb-4">
              {{ _('General Information') }}
            </h2>
            <p>{{ _('Select an inspection type...') }}</p>
        </div>
    </div>
<div class="container mx-auto text-right p-4 pb-16">
    <button
      onclick="confirmRedirect('{{ report.id }}')"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
        {{ _('Generate Report') }}
    </button>
</div>
    
</div>

<script>
    function confirmRedirect(reportId) {
        if (confirm("{{ _('Are you sure you want to generate the report? This should be done after completing all inspections.') }}")) {
            window.location.href = `/pdfs/generate/${reportId}`;
        }
    }

    $(document).ready(function() {
        $('a[data-expertise-type]').on('click', function(event) {
            event.preventDefault();
            var expertiseType = $(this).data('expertise-type');
            var reportId = "{{ report.id }}";
            $.ajax({
                url: "{{ url_for('reports.expertise_detail_ajax') }}",
                type: "GET",
                data: {expertise_type: expertiseType, report_id: reportId},
                success: function(data) {
                    $('#expertiseDetailContainer').html(data);
                },
                error: function(error) {
                    console.log("Error:", error);
                }
            });
        });
    });
</script>

</body>
</html>
