{# app/templates/report_sections/expertise_detail.html #}

{# Vehicle Header & Common Sections #}
{% include 'report_sections/expertises/vehicle_header.html' %}
{% include 'report_sections/customer_info.html' %}
{% include 'report_sections/inspection_info.html' %}
{% include 'report_sections/owner_info.html' %}
{% include 'report_sections/representative_info.html' %}

{# Dispatch to the right expertise partial #}
{% set et = expertise_report.expertise_type.name %}

{% if et == 'Paint & Body Expertise' %}
  {% include 'report_sections/expertises/boya_kaporta_expertise.html' %}

{% elif et == 'Interior & Exterior Expertise' %}
  {% include 'report_sections/expertises/ic_dis_expertise.html' %}

{% else %}
  {% if et == 'Paint Expertise' %}
    {% include 'report_sections/expertises/boya_expertise.html' %}

  {% elif et == 'Body Expertise' %}
    {% include 'report_sections/expertises/kaporta_expertise.html' %}

  {% elif et == 'Engine Expertise' %}
    {% include 'report_sections/expertises/motor_expertise.html' %}

  {% elif et == 'Lateral Drift Expertise' %}
    {% include 'report_sections/expertises/yanal_expertise.html' %}

  {% elif et == 'Suspension Expertise' %}
    {% include 'report_sections/expertises/suspansiyon_expertise.html' %}

  {% elif et == 'Brake Expertise' %}
    {% include 'report_sections/expertises/fren_expertise.html' %}

  {% elif et == 'Road Expertise' %}
    {% include 'report_sections/expertises/yol_expertise.html' %}

  {% elif et == 'Dyno Expertise' %}
    {% include 'report_sections/expertises/dyno_expertise.html' %}

  {% elif et == 'ECU Expertise' %}
    {% include 'report_sections/expertises/beyin_expertise.html' %}

  {% elif et == 'Interior Expertise' %}
    {% include 'report_sections/expertises/ic_expertise.html' %}

  {% elif et == 'Exterior Expertise' %}
    {% include 'report_sections/expertises/dis_expertise.html' %}

  {% elif et == 'Mechanical Expertise' %}
    {% include 'report_sections/expertises/mekanik_expertise.html' %}

  {% else %}
    <p class="text-red-500">
      {{ _('No expertise template found for') }} “{{ et }}”
    </p>
  {% endif %}
{% endif %}

{# Submit button block #}
{% include 'report_sections/submit_buttons.html' %}
